.avatar 
    display: flex
    flex-flow: row column
    align-content: center
    align-items: center
    justify-content: space-around
    height: 120px
    margin-top: 10px
    margin-bottom: 40px
    .line
        height: 01px
        width: 200px
        background-color: $light-01
    .pic
        border-radius: 100%
        box-shadow: 0 0 05px 1px rgba(1, 1, 1, 0.5)