.about-content 
    display: flex
    flex-flow: row wrap
    max-width: 960px
    align-content: center
    justify-content: space-around
    .about-text 
        max-width: 600px
        ul
            list-style: none
            margin: 0
            padding: 0
            li
                list-style: none
                margin: 0
                padding: 0          
    .about-skills
        padding-left: 50px