@import _variables
.header 
    display: flex
    flex-flow: row wrap
    justify-content: space-between
    align-items: center
    align-content: center
    width: 100%
    height: 66px
    background-color: $dark-02
    box-shadow: 0 0 05px 02px rgba(0, 0, 0, 0.2)
    position: fixed
    top: 0
    z-index: 999
    .logo
        background-image: url('../images/jCrego Logo.png')
        background-repeat: no-repeat
        background-size: cover
        height: 60px
        width: 60px
        border-radius: 100%
        margin-left: 03vw

